{% extends 'adminhome.html' %}


{% block page %}

<center>
<h1>Change Password Here!!!</h1>
<font style="height:20px;" color="orange">{{output}}</font>
<form enctype="multipart/form-data" method="post" action={{curl}}myadmin/changepasswordadmin/  >
{% csrf_token %}
<br>
Enter old password 
<input type="password" name="opass" placeholder="Enter old password" />

<br><br>

Enter new password 
<input type="password" name="npass" placeholder="Enter new password" />

<br><br>

Confirm new password 
<input type="password" name="cnpass" placeholder="Confirm new password" />

<br><br>

<input type="submit" value="Reset Password" />
</form>

</center>
	
{% endblock %}










